<%= widget_div do %>
    <h2>Theme</h2>
    <%= form_for(:theme, url: themes_path) do |f| %>
        <%= collection_select('theme', 'name', @themes, :first, :last,{:selected => @selected_theme}, {:onchange => 'submit()'}) %>
    <% end %>

<% end %>