<div class="row">
<% if signed_in? %>
    <div class="span4">
        <%= render :partial => 'user_profile' %>
    </div>
    <div class="span5 offset4">
      <%= render :partial => 'tweets' %>
    </div>
<% else %>
    <div class="center hero-unit">
    <h1>Please sign in first</h1>
    </div>
<% end %>
</div>
