= semantic_navigation :secondary, config: :bootstrap, class: 'nav-tabs nav-stacked' do |n|
  - if can? :manage, Idea
    - n.item 'Ideas', controller: dashboard_ideas_path
  - if can? :manage, User
    - n.item 'Profile', '/dashboard/profile'