<div id="groupaccordion1">
  <h3><a href="/groups/1">First group</a></h3>
  <div>
    <a href="/groups/1">Sub-group</a>
  </div>
  <h3><a href="/groups/2">Second group</a></h3>
  <div>
    <a href="/groups/1">Sub-group 2</a>
  </div>
  <h3>Third group</h3>
  <div>
    <a href="/groups/1">Sub-group 3</a>
  </div>
</div>
<script>
    $(function() {
        $( "#groupaccordion1" ).accordion();
    });
</script>