<ul class="nav nav-tabs">
  <li>
    <a href="https://dialogue.tripolis.com/home.html">Home</a>
  </li>
  <li class="active">
    <a href="https://dialogue.tripolis.com/contacts.html">Contacts</a>
  </li>
  <li>
    <a href="/trisoc/outbound">Content</a>
  </li>
  <li>
    <a href="https://dialogue.tripolis.com/campaigns.html">Campaigns</a>
  </li>
  <li>
    <a href="#">Publishing</a>
  </li>
  <li>
    <a href="/trisoc/reports">Reports</a>
  </li>
  <li>
    <a href="https://dialogue.tripolis.com/processes.html">Processes</a>
  </li>
  <li>
    <a href="/trisoc/setup">Setup</a>
  </li>
</ul>