<div class="content" id="main">
  <div version="2.0">
    <div>
      <div class="navbar">
        <div class="pagenav-inner">
          <ul class="nav">
            <li class="active"><a href="#">View</a></li>
            <li><a title="Edit Tweet" alt="Edit Tweet" href="/trisoc/outbound/11/-/tweets/2?form"> Edit </a></li>
            <li><a title="Communication history for Tweet" alt="Communication history for Tweet" href="/trisoc/outbound/11/-/tweets/2/history"> Communication history </a></li>
          </ul>
        </div>
        <div class="navbar-inner">
          <div class="container">
            <ul class="nav">
              <li class="active"><a title="Publish Tweet" href="/trisoc/outbound/11/-/tweets/2?publish"><i class="icon-share icon-white"></i> Publish</a></li>
              <li class="active">
                <form id="command" action="/trisoc/outbound/11/-/tweets/2" method="post">
                  <input type="hidden" name="_method" value="DELETE"/>
                  <a onclick="return confirm('Are you sure want to delete this item?');" title="Delete Tweet" href="#"><i class="icon-trash icon-white"></i>Delete</a>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="page-header">
      <h2>Lorem ipsum</h2>
    </div>
    <div class="tweetview">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut faucibus tempor neque vitae fringilla. Mauris consequat nisi velit, quis dignissim sapien. Proin sodales lacus porttitor tellus elementum aliquam. Aenean rhoncus massa ac orci pulvinar eget suscipit quam rhoncus. Nulla fermentum, nisi in pretium euismod, massa sapien dapibus risus, a dapibus odio sem quis mauris. Aliquam erat volutpat. Nulla pellentesque scelerisque nisl non rutrum.

      Vestibulum dictum porta erat at semper. Sed hendrerit ligula sit amet orci commodo vitae fermentum neque ullamcorper. Sed eget erat ac enim ultricies aliquam in id felis. Pellentesque at laoreet nibh. Vivamus id nibh sed nisi placerat dapibus. Etiam non metus a sem vulputate semper vel non quam. Curabitur vel nisi condimentum odio tempor eleifend.

      Proin non lacus eu justo tempus consequat. Proin in ligula sit amet mi pharetra convallis. Vestibulum hendrerit pharetra metus, at congue velit eleifend a. Nullam feugiat lectus pharetra nulla tempor mollis. Mauris tortor neque, luctus a porttitor eget, condimentum quis ipsum. Sed luctus consequat turpis, id tincidunt nulla vulputate vitae. Nullam sit amet dapibus sapien. Ut lobortis cursus tellus ac laoreet. Fusce ut augue diam. Quisque nec lobortis elit. Vivamus dui purus, porta et fringilla ut, scelerisque a leo. Suspendisse potenti. Nullam placerat augue id magna fringilla feugiat. Pellentesque eu ante est, vel feugiat lorem. Sed sit amet ipsum lorem, sit amet convallis metus. Mauris facilisis iaculis imperdiet.
    </div>
    <div class="actions"><a title="Publish Tweet" alt="Publish Tweet" class="btn btn-success" href="/trisoc/outbound/11/-/tweets/2?publish"> Publish </a></div>
  </div>
</div>