<div id="taskbar">
  <ul class="nav nav-pills">
    <li class="active">
      <a href="https://dialogue.tripolis.com/viewContentDashboard.html">dashboard</a>
    </li>
    <li>
      <a href="/">accordion</a>
    </li>
    <li>
      <a href="/menu">menu</a>
    </li>
    <li>
      <a href="/tree">tree</a>
    </li>
  </ul>
</div>