<!DOCTYPE html>
<html>
<head>
  <title>OdataServer</title>
  <%= stylesheet_link_tag    "o_data_server/application", :media => "all" %>
  <%= javascript_include_tag "o_data_server/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
