<!DOCTYPE html>
<html>
<head>
  <title>ShellHost</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Default Application Layout</h1>

<%= yield %>

</body>
</html>
