@import "bootstrap";

body {
  padding: 50px;
}

#linkparser {
  width: 80%;
}

#gallery {
  width: 150px;
}

.carousel-nav {
  width: 150px;
  position: absolute;
}

.carousel {
  padding-top: 30px;
}