@import "bootstrap";

body {
  padding-top: 60px;
}

a {
  color: #0084B4;
  text-decoration: none;
}

a:focus, .pretty-link:hover {
  color: #D02B55;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}

h3 {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
  margin: 0;
  text-rendering: optimizelegibility;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.profile-header {
  height: 48px;
  padding: 5px 0px 5px;
}

.profile-header .avatar {
  float: left;
}

.profile-header-inner {
  position: absolute;
  margin-left: 58px;
  margin-right: 30px;
}

profile-header .fullname {
  font-size: 24px;
  line-height: 28px;
  margin-top: -2px;
  white-space: nowrap;
}

.fullname {
  color: #333333;
  font-weight: bold;
}

.profile-header-inner .fullname a {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}

.profile-header .username {
  color: #777777;
  font-size: 16px;
  line-height: 20px;
}

.profile-header .username a {
  color: #777777;
}

.profile-header .fullname a {
  color: #333333;
}

.profile-extended .bio {
  color: #777777;
  font: italic 13px/18px Georgia,Times New Roman,serif;
  margin-bottom: 0;
  word-wrap: break-word;
}

.profile-extended .location-and-url, .profile-extended .social-proof {
  color: #777777;
  font-size: 12px;
}

.avatar {
  border-radius: 5px 5px 5px 5px;
  height: 50px;
  width: 50px;
}

/* tweet form */
.tweet-content {
  padding-top: 20px;
}
.tweet-content textarea {
  height: 80px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}