%form#last.tab-pane{name: "lastForm", "rc-step" => "", "rc-submit" => "completeWizard()"}
  %h2 Finish last step
  .form-group
    %label.control-label First Name:
    %p.form-control-static
  .form-group
    %label.control-label Last Name:
    %p.form-control-static
  .form-group
    %label.control-label Address:
    %p.form-control-static

      %br/
      ,