.jumbotron
  .container
    %h1 Welcome to the wizard poc
    %p Dicit signiferumque ne usu. Ei vim aliquip mandamus, eius augue urbanitas sit et. Adhuc scribentur disputationi vel an, no eam legimus commune, mel at corpora blandit adipisci. Eius nemore usu ad, putant appellantur mea ea.
    %button.btn.btn-primary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal"} Launch wizard

#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1", 'data-backdrop' => 'static'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title Simple Wizard
      .modal-body
        %div{"ng-controller" => "SampleWizardController", "rc-disabled" => "rc.firstForm.submitInProgress", "rc-wizard" => "sampleWizard"}
          %ul.nav.rc-nav-wizard
            %li.active
              %a.active{"data-toggle" => "tab", href: "#first"}
                %span.badge 1
                %span First Step
            %li
              %a{"data-toggle" => "tab", href: "#second"}
                %span.badge 2
                %span Second Step
            %li
              %a{"data-toggle" => "tab", href: "#last"}
                %span.badge 3
                %span Last Step
          .tab-content
            = render 'form1'
            = render 'form2'
            = render 'form3'



          .modal-footer
            .form-group
              .pull-right
                %a.btn.btn-default{"ng-click" => "rc.sampleWizard.backward()", "ng-show" => "rc.sampleWizard.currentIndex > rc.sampleWizard.firstIndex"} Back
                %a.btn.btn-primary{"data-loading-text" => "Please Wait...", "ng-click" => "rc.sampleWizard.forward()", "ng-show" => "rc.sampleWizard.currentIndex < rc.sampleWizard.navigationLength"} Continue
                %a.btn.btn-primary{"ng-click" => "rc.sampleWizard.forward()", "ng-show" => "rc.sampleWizard.currentIndex == rc.sampleWizard.navigationLength"} Complete