<h1>Twitter account: <%= @twitter_account.username %></h1>
<p id="notice">Username: <%= @twitter_account.username %></p>
<p id="notice">Full name: <%= @twitter_account.full_name %></p>

<%= link_to 'Back', twitter_accounts_path %>



